@font-face {
    font-family: "QuickSand";
    src: url('../fonts/Quicksand-Regular.ttf');
}

body {
	font-family: "QuickSand";
	background-color: #262222;
	font-size: 11pt;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

.favico {
	position: static;
	vertical-align: middle;
	border-radius: 10%;
	animation: favico 0.5s ease-out;
}

.ripTerry {
	display: none;
	margin-bottom: 200px;
}

.c {
	text-align: center;
}

.main {
	margin-top: 30px;
    margin-bottom: 30px;
}

.border {
	position: static;
	text-align: left;
	display: inline-block;
    min-width: 60%;
}

.list {
	font-size: 140%;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center center;
    opacity: 0.4;
    filter: alpha(opacity=40);
    z-index: -2;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.flake {
	font-size: 50%;
	display: block;
	position: fixed;
}

.hSpacer {
	display: inline;
	margin-left: 20px;
}

.linkWork {
	min-width: 100px;
}

.contactList {
	font-size: 120%;
}

.content {
	overflow: hidden;
	position: static;
	animation: content 0.55s ease-out;
}

.button {
	display: inline-block;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
	border-radius: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 250px;
	color: white;
}

.button:hover {
	animation: button 0.2s ease;
    background-color: rgba(99, 99, 99, 0.15);
}

/* Box spacing */
.projectBox {
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    background-color: rgba(135, 151, 226, 0.15);
    backdrop-filter: blur(5px);
    height: 250px;
    justify-content: center;
    width: 100%;
    max-width: 835px;
    border-radius: 12px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
}

.projectBox_left {
    width: 200px;
}

.projectBox_center {
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}
.projectBox_right {
    align-self:stretch;
    display:flex;
    align-items: center;
}

/* Box left side */
.projectBox_title {
    font-size: 200%;
}

.projectBox_subtitle {
    font-size: 80%;
}

.projectBox_src {
    margin-top: 60px;
    font-size: 125%;
}

/* Box center */
/*.projectBox_description {}*/

/* Box right side */
.projectBox_button {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    background-color: rgba(52, 148, 238, 0.5);
    backdrop-filter: blur(5px);
    width: 70px;
    height: 70px;
    text-align: center;
    display: table;
    margin: auto;
    border-radius: 100%;
}

.projectBox_button:hover {
    animation: cardButton 0.2s ease-in;
    background-color: rgba(27, 23, 255, 0.5);
    cursor: pointer;
}

.redBtn {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    background-color: rgba(202, 43, 43, 0.5);
    backdrop-filter: blur(5px);
}

.redBtn:hover {
    animation: cardButton_red 0.2s ease-in;
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

.projectBox_buttonChild {
    display: table-cell;
    vertical-align: middle;
    font-size: 200%;
}

.projectBox_disclaimer {
    color: lightcoral;
}

.projectBox_rightMobile {
    display: none;
}

.srcDl:hover {
    filter: drop-shadow(0px 0px 4px white);
}

.tabBarWrapper {
    width: 70%;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.tabBarSlider {
    background-color: white;
    width: 100%;
    height: 2px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.tabBar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.tab {
    font-size: 140%;
    opacity: 0.6;
    filter: alpha(opacity=60);
    text-transform: uppercase;
}

.tab:not(.tabSelected):hover {
    animation: tabBarHover 0.2s ease-in;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

.tabSelected {
    opacity: 1;
    filter: alpha(opacity=100);
}

#aboutContent, #contactContent, #workContent, #otherContent {
    display: none;
    margin-top: 20px;
}

.galleryGrid {
	display: grid;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	grid-template-columns: auto auto auto;
}

.galleryNode {
	display: inline-grid;
	text-align: center;
	width: 200px;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

@keyframes content {
	0% {
		transform: translateY(5%);
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes favico {
	0% {
		height: 96px;
		width: 96px;
	}

	100% {
		height: 128px;
		width: 128px;
	}
}

@keyframes cardButton_red {
	0% {
        background-color: rgba(202, 43, 43, 0.5);
	}

	100% {
        background-color: rgba(255, 0, 0, 0.5);
	}
}

@keyframes cardButton {
	0% {
		background-color: rgba(52, 148, 238, 0.5);

	}

	100% {
        background-color: rgba(27, 23, 255, 0.5);

	}
}

@keyframes button {
	0% {
		background-color: rgba(255, 255, 255, 0.15);

    }
    
	100% {
		background-color: rgba(99, 99, 99, 0.15);
	}
}

@keyframes tabBarHover {
    0% {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

    100% {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
}

@media only screen and (max-width: 600px) {
    /* Mobile version */
	.border {
		text-align: left;
		display: inline-block;
		min-width: 90%;
    }

    .button {
        margin-top: 5px;
    }

    .tabBarWrapper {
        width: 90%;
        display: flex;
        margin: auto;
        flex-direction: column;
    }
}

@media only screen and (max-width: 875px) {
    .button {
        margin-top: 5px;
    }

    .tabBar {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .galleryGrid {
		display: grid;
		grid-column-gap: 15px;
		grid-row-gap: 15px;
		grid-template-columns: auto auto;
	}
}

@media only screen and (max-width: 1200px) {
    /* Box spacing */
    .projectBox {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
        background-color: rgba(135, 151, 226, 0.15);
        backdrop-filter: blur(5px);
        min-height: 450px;
        justify-content: center;
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
    }
    
    .projectBox_left {
        padding: 10px;
        width: 100%;
        position: absolute;
        margin-bottom: 10px;
        top: 0;
    }

    .projectBox_center {
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px;
        width: 100%;
    }

    .projectBox_right {
        align-self:stretch;
        display:flex;
        align-items: center;
        display: none;
    }

    /* Box left side */
    .projectBox_title {
        font-size: 200%;
    }
    /*.projectBox_subtitle {}*/
    .projectBox_src {
        margin-top: 20px;
    }

    /* Box center */
    /*.projectBox_description {}*/

    /* Box right side */
    .projectBox_button {
        width: 100%;
        height: 70px;
        border-radius: 0;
        display: table;;
    }
    .projectBox_buttonChild {
        font-size: 200%;
        display: table-cell;
        vertical-align: middle;
    }

    .projectBox_disclaimer {
        color: lightcoral;
        padding-left: 10px;
    }

    .projectBox_rightMobile {
        display: inline-block;
        min-height: 50px;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}
