@font-face {
    font-family: 'ComicSansUnfucked';
    src: url('comic_sans.ttf') format('truetype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #010115;
    margin: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('../images/nigger.png') no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: -1;
}

.c {
    text-align: center;
}

.niggerfacts {
    font-family: "ComicSansUnfucked", cursive, sans-serif;
}

.f-r {
    float: right;
}

.f-l {
    float: left;
}

#Navbar {
    overflow: hidden;
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    text-align: center;
    background: rgba(39, 53, 107, 0.5);
}

#Navbar a {
    display: inline-block;
    font-size: 20px;
    color: #e5e5e5;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    outline: 0;
}

#Navbar a:hover {
    color: white;
    text-shadow: 0px 0px 1px white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  /* lol wtf this works */
  margin: -5;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #11223e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #334cc3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#ProfilePic {
    border-radius: 50%;
    margin-right: 3px;
    float: left;
    vertical-align: middle;
}

.fuckphoneposters {
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    .fuckphoneposters {
        display: none;
    }
}